---
title: Marketplace
layout: layouts/home.njk
description: Shop and trade with other no agenda show producers
image:
date: Last Modified
---

<style>
  article {
    width: 100%;
  }
</style>
{% block extraArticleHeader %}
<h5 style="text-align: center;">Prevent an enlarged amygdala tomorrow by supporting producer owned businesses today</h5>
{% endblock %}

<div id="directory">
  {% set businesslist = collections.business %}
  <div class="businesses">
    {% for business in businesslist | reverse %}
      <div class="business-card">
        <a href="{{ business.url | url }}">
          <h5 class="business-name">
            {% if business.data.title %}{{ business.data.title }}{% else %}<code>{{ business.url }}</code>{% endif %}
          </h5>

{% if business.data.image %}
  <img src="{{ business.data.image }}" />
{% else %}
  <img src="https://v1.screenshot.11ty.dev/{{ business.data.url | encodeURIComponent }}/opengraph/"
     alt="Screenshot of {{ business.data.url }}"
     width="1200"
     height="630"
     decoding="async"
     loading="lazy">
{% endif %}

        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div id="posts">
  <h2>Updates</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
