<ul>
{% for business in businesslist | reverse %}
  <li>
    <a href="{{ business.url | url }}">{% if business.data.title %}{{ business.data.title }}{% else %}<code>{{ business.url }}</code>{% endif %}</a>
  </li>
{% endfor %}
</ul>
