---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}


{% block extraArticleHeader %}

<a href="{{ url }}">
{% if image %}
  <img src="{{ image }}" />
{% else %}
  <img src="https://v1.screenshot.11ty.dev/{{ url | encodeURIComponent }}/opengraph/"
     alt="Screenshot of {{ url }}"
     width="1200"
     height="630"
     decoding="async"
     loading="lazy">
{% endif %}
</a>

<a href="{{ url }}">🔗 {{ url }}</a>
<a href="{{ profile }}">👤 {{ profile }}</a>
<span>🌎 {{ location }}</span>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
{{ content | safe }}

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
{% if image %}  "image": ["{{ image }}"],{% else %}  "image": ["https://v1.screenshot.11ty.dev/{{ url | encodeURIComponent }}/opengraph/"],{% endif %}
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
